body {
	font-family: 'Roboto', sans-serif;
}

#bgImg {
	background-image: url(images/stage-background.png);
	position: absolute;
    z-index: -5;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	opacity: .8;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: fixed;
}



.form-control { 
	margin-top: 1em;
	border: none;
	box-shadow: none;
	text-align: center;
	background-color: #336373;
}

#image-container {
	text-align: center;
	margin: 2em;
}

img.thumb {
	margin-right: 0.5em;
	margin-bottom: 0.5em;
}


.margin-space {
	text-align: center;
	margin: 2em 0;
}

.btn {
	font-size: 2.5em;
}

.btn-primary {
	margin-right: 1em;
}

#song-container {
	text-align: center;
}

#search-field {
	font-size: 2em;
	background-color: #F3EB8F;
}

.songInfoSpace {
	margin-bottom: 1em;
}

#songImage {
	font-size: 2em;
}

#songTitle a {
	color: #46CFFF;
}

#artistLink a {
	color: #46CFFF;
}




