body {
	font-family: 'Roboto', sans-serif;
}

.container {
	padding: 0;
}

#bgImg {
	background-image: url(https://s3.amazonaws.com/randomimages123/MusiStreamB2.png);
	position: absolute;
    z-index: -5;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	/* opacity: .8; */
	background-repeat: no-repeat;
	background-size: cover;
	/* background-position: center center; */
	position: fixed;
}



.form-control {
	margin-top: 1em;
	border: none;
	padding: 2em 0;
	text-align: center;
	background-color: #336373;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
}

#image-container {
	text-align: center;
	margin: 2em;
}

img.thumb {
	margin-right: 0.5em;
	margin-bottom: 0.5em;
}


.margin-space {
	text-align: center;
	margin: 2em 0;
}

.btn {
	font-size: 2.5em;
}

.btn-primary {
	margin-right: 1em;
}

#song-container {
	text-align: center;
}

#search-field {
	font-size: 2em;
	background-color: #FFE4AB;
}

.songInfoSpace {
	margin-bottom: 1em;
}

#songImage {
	font-size: 2em;
}

#songTitle a {
	color: #46CFFF;
}

#artistLink a {
	color: #46CFFF;
}

#musiDiv {
	display: block;
	/* text-align: center; */
	margin-left: auto;
    margin-right: auto;
}

#musiLogo {
	width: auto;
	height: 15em;
}

.btn-primary {
	/* border-radius: 50%; */
	border-color: #FFBF3C;
	background-color: #FFBF3C;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.btn-danger {
	border-color: #FFBF3C;
	background-color: #FFBF3C;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.btn:hover,
.btn-lg:hover,
.btn-primary:hover,
.btn-danger:hover {
	background-color: #F1A400;
	border-color: #F1A400;
	color: #336373;
}

.thumb {
	border-radius: 10%;
}

